DB_ENGINE=mysql
DB_NAME=medica
DB_USER=dental_user
DB_PASSWORD=Meo@2004
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=fekfnekwe@gmail.com
EMAIL_HOST_PASSWORD=tbho cwrh ufxx vxkj
EMAIL_USE_TLS=true
EMAIL_TIMEOUT=30
DEFAULT_FROM_EMAIL=hoangprox24@gmail.com

MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=SOME_SECRET_KEY
MOMO_PARTNER_NAME=Dental Management
MOMO_STORE_NAME=Dental Management
MOMO_STORE_ID=DENTAL
MOMO_CREATE_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_QUERY_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/query
MOMO_TIMEOUT_SECONDS=30
