# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
backups/

# Django migrations

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
coverage.xml

# Static files build
staticfiles/

# Node (nếu có frontend)
node_modules/
